* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none !important;
}

img {
    border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
  background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}


/*main css start now*/

#banner .top {
    padding: 20px 10px;
    background: #21474F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#banner .top .registration a {
    color: #ffffff;
}

#banner .top .registration .reg {
    background: #6E9F95;
    padding: 7px 60px;
    color: #ffffff;
    margin-left: 15px;
    border-radius: 3px;
}

#banner .form_part {
    max-width: 500px;
    background: #BCC7C6;
    margin: 200px auto;
}

#banner .form_part .title {
    background: #21474F;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

#banner .form_part .form_bottom {
    padding: 20px;
}

#banner .form_part .form_bottom .form-check .form-check-label {
    color: #ffffff;
}

#banner .form_part .form_bottom .linkdin_btn {
    background: #0177B6;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 15px;
    display: block;
    border-radius: 3px;
    text-align: center;
}

#banner .form_part .form_bottom .linkdin_btn::before {
    font-family: "FontAwesome";
    content: "\f0e1";
    position: absolute;
    left: 30px;
    font-size: 16px;
}

#banner .form_part .form_bottom .linkdin_btn span {
    text-align: center;
}

#banner .form_part .form_bottom {
    position: relative;
}

#banner .form_part .form_bottom h3 {
    font-size: 15px;
    padding: 15px 0px;
    text-align: center;
}

#banner .form_part .form_bottom .form-control {
    border-radius: 2px;
    margin-bottom: 15px;
}

#banner .form_part .form_bottom .form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#banner .form_part .form_bottom .submit {
    border: none;
    outline: none;
    padding: 6px 15px;
    background: #6E9F95;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px 0px 20px;
    width: 100%;
}

#banner .form_part .form_bottom .submit::before {
    font-family: "FontAwesome";
    content: "\f090";
    position: absolute;
    left: 30px;
    font-size: 18px;
}

#banner .form_part .form_bottom .last_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
}

#banner .form_part .form_bottom .last_part a {
    color: #ffffff;
}

#banner .form_part .form_bottom .last_part .help {
    color: #6E9F95;
}

@media (max-width: 991px) {
    #banner .form_part {
        margin: 130px auto;
    }
}

@media (max-width: 767px) {
    #banner .form_part {
        margin: 100px auto;
    }
}

@media (max-width: 500px) {
    #banner .top {
        overflow: hidden;
    }
    #banner .top .registration a {
        margin-bottom: 10px;
    }
    #banner .top .registration .right_part {
        display: inline-grid;
    }
    #banner .top .registration .reg {
        padding: 5px 32px;
        margin-left: 0px;
    }
}


/*Media Query ends*/